/* Geral */
body {
  background-color: #1c1c1c !important;
  color: #fff !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valid-password-check {
  color: rgb(131, 255, 131);
}

.invalid-password-check {
  color: rgb(250, 112, 112);
}



.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}



/* Container do Formulário */
.form-container {
  width: 932px; /* Largura do formulário igual à largura dos cards */
  padding: 1rem;
  margin: 80px 0 2rem; /* Ajuste a margem superior para evitar sobreposição com o título */
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Container para os inputs e validações de senha */
.input-container {
  display: flex;
  gap: 1rem;
}

/* Validações de senha */
.password-validations {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

/* Inputs no mesmo nível */
.input-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem; /* Ajuste o espaçamento superior */
}

/* Inputs de serviço, login e URL */

.url-input {
  width: 100%;
}

/* Lista de validações de senha */
.password-validations ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Inputs de senha e URL */
.password-validations input {
  width: 100%;
}
/* Botões */
.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}


.button-new-pass {
  display: block;
  margin-left: 38%;
  gap: 1rem;
  margin-top: 15%;
}

.btn-primary {
  background-color: #3578f5;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #2862c7;
}

.btn-secondary {
  background-color: #444;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-secondary:hover {
  background-color: #f5e5e5;
}

/* Contêiner dos Cards */
.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Três colunas de largura igual */
  gap: 1rem;
  padding: 2rem;
  max-width: 932px; /* Garante que o contêiner de cards não exceda a largura */
  box-sizing: border-box;
  justify-items: center; /* Centraliza o conteúdo horizontalmente */
}

.no-cards-message {
  grid-column: span 3; /* Faz com que a mensagem ocupe toda a largura das colunas */
  text-align: center; /* Centraliza o texto */
  padding: 15rem; /* Adiciona algum padding ao redor do texto */
}

/* Cards */
.card {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
  border-radius: 10px;
  width: 100%; /* Faz com que o card ocupe toda a largura disponível da coluna */
  max-width: 300px; /* Ajuste para garantir que caiba nas três colunas */
  padding: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-text {
  margin: 0.5rem 0;
}

.card-link {
  color: #4a90e2;
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline;
}

/* Botão Apagar */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

/* Outros Estilos */
.hide-password-checkbox {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  margin-top: 1rem; /* Ajuste a margem superior para evitar sobreposição */
}
